{{ if .Site.Params.ajaxFormspree }}
<section class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>¡Hablemos!</h1>
      </div>
    </div>

    <form id="form-contact" action="https://formspree.io/{{ .Site.Params.email }}" method="POST">
      <div class="row center-xs">
        <div class="col-xs-12 col-sm-6"><input name="name" placeholder="Nombre" required="" type="text" /></div>
        <div class="col-xs-12 col-sm-6"><input name="_replyto" placeholder="Email" required="" type="email" /></div>
        <div class="col-xs-12"><input name="_subject" placeholder="Asunto" required="" type="text" /></div>
        <div class="col-xs-12"><textarea name="message" placeholder="Mensaje" required=""></textarea></div>
        <input name="_gotcha" style="display:none" type="text" /> 
        <input name="_next" type="hidden" value="/" />
        <div class="col-xs-12 contact-submit">
          <input id="form-submit" type="submit" value="Enviar" /> 
          <span id="form-thankyou" style="visibility:hidden">¡Muchas gracias por su mensaje!</span>
        </div>
      </div>
    </form>
  </div>
</section>
{{ end }}
